[Config]
language = en
portal_scraper_interval = 3600

[Maps]
static_map = True
static_map_provider = tileserver
key = https://tiles.map.com/ or api_key

frontend_map = True
map_url = https://www.map.com/
frontend = pmsf/rdm/rmad
map_name = Pokemap

geocoding = False
geocoding_provider = google

[DB]
scanner = mad
scanner_db_name = maddb
portal_db_name = manualdb

host = 0.0.0.0
port = 3306
user = 
password = 