[Config]
STOPS = True
GYMS = True
PORTALS = True

GYM_UPDATE_THROUGH_STOP = False
GYM_UPDATE_THROUGH_PORTAL = True
STOP_UPDATE_THROUGH_PORTAL = True
DELETE_CONVERTED_STOP = True

# discord webhook links
STOP_WEBHOOK = 
GYM_WEBHOOK = 
PORTAL_WEBHOOK = 

MIN_LAT = 
MAX_LAT = 
MIN_LON = 
MAX_LON = 

# LOOP OPTIONAS DO NOT WORK! Please don't change
LOOP = True
SECONDS_BETWEEN_LOOPS = 500

[Embeds]
STOP_IMAGE = https://raw.githubusercontent.com/ccev/stopwatcher/master/icons/stop.png
STOP_DETAILS_USERNAME = Pokéstop Details
STOP_NO_DETAILS_USERNAME = New Pokéstop

GYM_IMAGE = https://raw.githubusercontent.com/ccev/stopwatcher/master/icons/gym.png
GYM_DETAILS_USERNAME = New Gym
GYM_NO_DETAILS_USERNAME = New Gym

PORTAL_IMAGE = https://raw.githubusercontent.com/ccev/stopwatcher/master/icons/portal.png
PORTAL_USERNAME = New Portal

[Static Map]
ENABLE = True
G_API_KEY = 
G_ZOOM = 16
G_RESOLUTION = 400x200

G_MARKER_COLOR_STOP = 0x128fed
G_MARKER_COLOR_GYM = 0x128fed
G_MARKER_COLOR_PORTAL = 0xc067fc

G_MARKER_SIZE = mid
# tiny/small/mid

[DB]
HOST = 0.0.0.0
PORT = 3306
USER = 
PASSWORD = 

NAME = 
PORTAL_DB_NAME = 


# prefilled for MAD
POKESTOP_TABLE = pokestop
POKESTOP_ID = pokestop_id
POKESTOP_LAT = latitude
POKESTOP_LON = longitude
POKESTOP_NAME = name
POKESTOP_IMAGE = image

GYM_TABLE = gym
GYMDETAILS_TABLE = gymdetails
GYM_ID = gym_id
GYM_LAT = latitude
GYM_LON = longitude
GYM_NAME = name
GYM_IMAGE = url


# prefilled for PMSF (willem fork)
PORTAL_TABLE = ingress_portals
PORTAL_ID = external_id
PORTAL_LAT = lat
PORTAL_LON = lon
PORTAL_NAME = name
PORTAL_IMAGE = url
