[Config]
STOPS = True
GYMS = True
PORTALS = True

GYM_UPDATE_THROUGH_STOP = False
GYM_UPDATE_THROUGH_PORTAL = True
STOP_UPDATE_THROUGH_PORTAL = True
DELETE_CONVERTED_STOP = True

BBOX = minlon,minlat,maxlon,maxlat
CHAT_APP = discord
# discord/telegram

LANGUAGE = en
# en/de/pl/fr

LOOP = True
SECONDS_BETWEEN_LOOPS = 600



[Discord]
STOP_WEBHOOK = ["https://discordapp.com/api/webhooks/","https://discordapp.com/api/webhooks/"]
GYM_WEBHOOK = [""]
PORTAL_WEBHOOK = [""]

STOP_IMAGE = https://raw.githubusercontent.com/ccev/stopwatcher/master/icons/stop.png
STOP_COLOR = 1216493
GYM_IMAGE = https://raw.githubusercontent.com/ccev/stopwatcher/master/icons/gym.png
GYM_COLOR = 12239045
PORTAL_IMAGE = https://raw.githubusercontent.com/ccev/stopwatcher/master/icons/portal.png
PORTAL_COLOR = 12609532



[Static Map]
PROVIDER = mapbox
# mapbox/tileserver-gl/google/osm/none

SUPER_FANCY_STATIC_MAPS = True
# only supported for mapbox

KEY = 
ZOOM = 16
WIDTH = 500
HEIGHT = 300

USE_GEOCODING = False

USE_IMGUR_MIRRORS_FOR_EVERYTHING = False
IMGUR_CLIENT_ID = 
# needed for super fancy static maps, optional for all other types (highly recommended)

MARKER_LIMIT = 30
# needed for Super Fancy Static Maps. Please refer to the readme.

MARKER_COLOR_STOP = 128fed
MARKER_COLOR_GYM = bac0c5
MARKER_COLOR_PORTAL = c067fc
MARKER_SIZE = 2
# needed for google and osm

TILESERVER_URL = https://static.url.com/
# needed for tileserver-gl



[Edit Watcher]
ENABLE = False
EXTRA_PORTAL_DB_NAME = 
EXTRA_PORTAL_TABLE = 

WEBHOOK_URL = [""]
IMAGE = https://raw.githubusercontent.com/ccev/stopwatcher/master/icons/portal.png

DELETED_TIMESPAN = 86400
# in seconds
DELETED_LIMIT = 10



[DB]
SCANNER_DB_SCHEMA = 
# mad/rdm/none

PORTAL_DB_SCHEMA = pmsf
# pmsf/none

HOST = 0.0.0.0
PORT = 3306
USER = 
PASSWORD = 

SCANNER_DB_NAME = 
PORTAL_DB_NAME = 